body{
    background-color:#d3e6f7;
    font-family: 'Montserrat', sans-serif;

}
a{
    color: #fffbf1;
    font-size: 70px;
    text-decoration: none;
    letter-spacing: -2px;
    position: absolute;
    top: 40%;
    left: 40%;
    /*text-shadow: 0 20px 25px #6697f1;*/
}

b{
    color: #1b1912;
    font-size: 40px;
    text-decoration: none;
    letter-spacing: -2px;
    padding-right: 3%;
    position: absolute;
    top: 50%;
    left: 40%;
    /*text-shadow: 0 20px 25px #6697f1;*/
}

c{
    width: 50px;
    height:50px;
    margin-right: 20%;
    position: absolute;
    top: 53%;
    left: 40%;
}