body{
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      font-family: 'Montserrat', sans-serif;

}

m{
    color: #fffbf1;
    font-size: 70px;
    text-decoration: none;
    letter-spacing: -2px;
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    /*text-shadow: 0 20px 25px #6697f1;*/
}

b{
    color: #1b1912;
    font-size: 40px;
    text-decoration: none;
    letter-spacing: -2px;
    padding-right: 3%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 25%;
    /*text-shadow: 0 20px 25px #6697f1;*/
}

image_style{
    max-width: 10px;
    height:10px;
    margin-right: 20%;
    top: 55%;
    position: absolute;
    left: 35%;
}

.center { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
  }
  
  .center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }